<article class="product-cart">
    <div class="cart-img-text">
        <figure>
            <img src="<%= images[0] %>" alt="Producto1">
        </figure>
        <div>
            <p class="cart-text"><%= title %></p>
        </div>
    </div>
    <div class="cart-footer">
        <button type="submit" name="<%= title %>" value="<%= id %>" class="button-list">Quitar</button>
        <div class="counter">
            <button type="number" data-name="<%= title %>" data-id="<%= id %> " class="decrement">-</button>
            <p class="result"><%= quantity %></p>
            <button type="number" data-id="<%= id%> " class="increment">+</button>
        </div>
        <div class="cart-total">
            <p><%= price * quantity %></p>
        </div>
    </div>
</article> 


