<%- include('../partials/head.ejs', {link: '', titulo: "Carrito | MiEcommerce"}) %>
    <main class="mainCart">
        <%- include('../partials/header.ejs') %>
            <section class="cart-section">
                <div class="cart-header">
                    <div class="breadCrumb">
                        <a class="cart-link" href="/"><i class="fa-solid fa-arrow-left"></i> Volver</a>
                    </div>
                    <div class="cart-title">
                        <h3>Productos en tu Carrito</h3>
                    </div>
                </div>

                <div class="cart-container">
                    <% let acum = 0 %>
                    <% for (product of cart){%>

                    <%- include('../partials/cart_card.ejs', {
                        id: product.id,
                        images: product.images, 
                        title: product.title,
                        price: product.price,
                        quantity: product.quantity
                    }) %>

                    <% acum = acum + product.price * product.quantity %>
                    <% } %>
                </div>

                <div class="cart-checkout">
                    <div class="cart-footer-main">
                        <span class="total-points-text">Total de Puntos</span>
                        <span class="total-points"> <%= acum %></span>
                    </div>
                    <div class="cart-button-end">
                        <a class="cart-link-button" href="/checkout"><button class="button-list-checkout" type="submit">Ir a Pagar</button></a>
                    </div>
                </div>

            </section>

    </main>
    <%- include('../partials/footer.ejs') %>

    </html>