
<%- include('../partials/head.ejs', {link: '', titulo: "HOME"}) %>
<%- include('../partials/header.ejs') %>
<main class="main">
<%- include('../partials/banner.ejs') %>
<%- include("../partials/indexCards.ejs") %>
<%- include('../partials/categorias.ejs') %>
</main>
<%- include('../partials/footer.ejs') %>

