<%- include('../partials/head.ejs', {link: '' , titulo: "PRODUCT"}) %>

    <%- include('../partials/header.ejs') %>
    <%# COMENTE ESTE FOR YA QUE NO ES NECESARIO, POR QUE DESDE EL CONTROLADOR SE LE PASA %> 
    <%# YA EL PRODUCTO QUE EL USUARIO SELECCIONO. CUANDO ANTES TENIAMOS EL FOR, LE PASABAMOS TODOS LOS PRODUCTOS %> 
    <%# Y RECIEN ACA BUSCABA EL PRODUCTO QUE EL USUARIO ELIGIO %> 
        <%# let card={} %> 
            <%# for (product of data){ %>%>
                <%# if (product.id==id){%>
                    <%# card=product;%>
                        <%# break;%>
                            <%# } %>
                                <%# } %> 
                                <%# EN VES DE DATA LE PASO PRODUCT DIRECTAMENTE %> 
                                    <div class="container">
                                        <div class="nav-products">
                                            <a href="/"><i class="fa-solid fa-arrow-left"></i> Volver al listado</a>
                                            <p> > Alimentos</p>
                                        </div>
                                        <section class="section-content-products">
                                            <p class="title-mobile">
                                                <%= product.title%>
                                            </p>
                                            <article class="article-more-photos">
                                                <img class="img-product-secondary" src="<%= product.images[1]%>" alt="product-img-1">
                                                <img class="img-product-secondary" src="<%= product.images[2]%>" alt="product-img-2">
                                                <img class="img-product-secondary" src="<%= product.images[3]%>" alt="product-img-3">
                                            </article>
                                            <article class="img-text-principal">
                                                <img class="img-product-principal" src="<%= product.images[0]%>" alt="product-img-principal">
                                            </article>
                                            <article class="content-description">
                                                <div class="text-buttons">
                                                    <p class="title-desktop">
                                                        <%= product.title%>
                                                    </p>
                                                    <p>
                                                        <%= product.price%> <span>PUNTOS</span>
                                                    </p>
                                                    <input class="button" type="button" value="Agregar al carrito">
                                                    <p class="text-description">
                                                        <%= product.description%>
                                                    </p>
                                                </div>
                                            </article>
                                        </section>
                                        <h3>Tambien te puede interesar</h3>
                                    </div>
                                    <div class="product-car">
                                    <%# EN VES DE DATA LE PASO RELATEDPRODUCTS (PRODUCTOS RELACIONADOS) %> 
                                        <section class="section-cards ">
                                            <% for (let i=0; i < 4; i++){%>
                                                <%- include('../partials/cardProduct.ejs', { 
                                                    id: relatedProducts[i].id, 
                                                    images:relatedProducts[i].images, 
                                                    title: relatedProducts[i].title, 
                                                    price: relatedProducts[i].price }) %>
                                                    <% } %>
                                        </section>
                                    </div>
                                    <%- include('../partials/categorias.ejs') %>
                                    <%- include('../partials/footer.ejs') %>